---
// Home page header/masthead section
---

<header class="masthead">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6">
        <!-- Masthead text-->
        <div class="mb-5 mb-lg-0 text-center text-lg-start">
          <h1 class="display-1 lh-1 mb-3">Joshua House Warming Shelter</h1>
          <p class="lead fw-normal text-muted mb-3">A part of Joshua House, Inc. A federally recognized 501c3 non-profit organization</p>
          <p class="lead fw-normal text-muted mb-3">501 Pleasant St., Newport, VT</p>
          <p class="lead fw-normal text-muted mb-3"><b>Opening soon!</b></p>
          <div class="d-flex flex-column flex-lg-row align-items-center">
            <a class="btn btn-primary btn-lg rounded-pill px-4 me-lg-3 mb-3 mb-lg-0" href="#donate">
              <i class="bi-heart-fill me-2"></i>
              Support Our Mission
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <!-- Masthead device mockup feature-->
        <div class="masthead-device-mockup">
          <div class="device-wrapper">
            <img src="/logo.png" alt="Joshua House Logo" style="max-width: 100%; height: 100%; object-fit: contain; padding: 20px;" />
          </div>
        </div>
      </div>
    </div>
  </div>
</header>