---
// Donate Section
---

<section class="bg-light" id="donate">
  <div class="container px-5">
    <div class="text-center mb-5">
      <h2 class="display-4 lh-1 mb-4">Help Us Support Our Mission</h2>
      <p class="lead fw-normal text-muted mb-5">
        Your donation helps us to build, install, purchase,
and create an environment to house 10 cots with 2
volunteers, during the coldest nights of winter.
</p>
    </div>
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-5 mb-5 mb-lg-0">
        <div class="card border-0 shadow-lg h-100">
          <div class="card-body p-5">
            <div class="text-center">
              <i class="bi-credit-card icon-feature text-gradient d-block mb-3" style="font-size: 3rem;"></i>
              <h3 class="font-alt mb-3">Donate Online</h3>
              <p class="text-muted mb-4">Make a tax-deductible donation through our secure online platform.</p>
            
              <!--a id="donorbox-button" class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" href="/#donate"-->
			  <a href="https://donorbox.org/joshua-house-warming-shelter?" class="dbox-donation-button btn btn-primary rounded-pill px-3 mb-2 mb-lg-0">
                <i class="bi-heart-fill me-2"></i>
                Donate via Donorbox
              </a>
            
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="card border-0 shadow-lg h-100">
          <div class="card-body p-5">
            <div class="text-center">
              <i class="bi-envelope icon-feature text-gradient d-block mb-3" style="font-size: 3rem;"></i>
              <h3 class="font-alt mb-3">Donate by Mail</h3>
              <p class="text-muted mb-4">Send checks to:</p>
              <address class="text-muted" style="line-height: 1.8;">
                <strong>Joshua House Warming Shelter</strong> or <strong>JHWS</strong><br>
                PO Box 291<br>
                Newport, VT 05855
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>