---
// Opening Date Section
---

<section class="bg-light" id="opening">
  <div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="badge bg-gradient-primary-to-secondary text-white mb-4">
          <div class="text-uppercase">Renovation in progress.</div>
        </div>
        <h2 class="display-4 lh-1 mb-4">The end of November 2025</h2>
        <p class="lead fw-normal text-muted mb-5">is the targeted opening date. Please check back to see updates - and how you can help.</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-12 text-center">
        <a class="btn btn-outline-light btn-lg rounded-pill px-4" href="/gallery">
          <i class="bi-camera-fill me-2"></i>
          View Project Gallery
        </a>
      </div>
    </div>
      
  </div>
</section>