---
// JHWS Introduction - Aside section
---

<aside class="text-center bg-gradient-primary-to-secondary">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-xl-8">
        <h2 class="display-4 lh-1 mb-4">The Joshua House Warming Shelter (JHWS)</h2>
        <p class="lead fw-normal text-white mb-5">JHWS started with an
Advisory Board looking to provide a warm place for people
to land on cold winter nights. The Board grew to include (in
no particular order): The Church of God, Newport City, State
of VT, NEKCA, Newport Police, The United Church of

Newport, St. Mark's Episcopal Church, Life in Christ Fel-
lowship, Derby Community Church.

        </p>
      </div>
    </div>
  </div>
</aside>