---
// Footer component for Bootstrap theme
---

<footer class="bg-black text-center py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8">
                <div class="text-white-50 mb-4">
                    <h5 class="text-white mb-3">Joshua House Inc.</h5>
                    <p class="mb-2">A federally recognized 501(c)(3) non-profit organization</p>
                    <p class="mb-2">Founded in Irasburg, VT in 1996</p>
                    <p class="mb-4">
                        <i>Website or Email issues?</i> &nbsp; <a href="mailto:support@jhwsnewport.org" class="text-white-50">support@jhwsnewport.org</a>
                    </p>
                </div>
                <br/>
                <div class="text-white-50 small">
                    <div class="mb-2">&copy; Joshua House Warming Shelter {new Date().getFullYear()}. All Rights Reserved.</div>
                </div>
            </div>
        </div>
    </div>
</footer>